body {
    background-color: rgb(48, 47, 47);
}
.card {
    background-color: rgb(94, 92, 92);
    color: white;
}
.btn {
    background-color: black;
    border-color: rgb(146, 146, 146);
}
.btn-primary:hover {
    background-color: goldenrod;
    border-color: rgb(100, 86, 24);
} 
.image {
    padding: 5px;
    border-radius: 10px;
    max-height: 180px;
}

.studentsHolderStyles {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: center;
}
.deathEaterHolderStyles {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: center;
}
.formStyles {
    display: flex;
    flex-wrap: no-wrap;
    flex-shrink: 2;
    margin: 20px;
    align-items: stretch; 
    justify-content: center;
}
.form {
    display: flex;
    justify-content: center;
}